@page "/"

@using System.Globalization
@using Athena.Application.Commands
@using Athena.Application.Queries
@using Athena.Domain.Entities
@using BlazorContextMenu
@using Microsoft.Extensions.Logging
@using SRenerCq
@using Athena.Presentation.Components.Layout.ToDo

@inject ISender Sender
@inject IJSRuntime Js
@inject ILogger<Home> Logger

<div class="athena-dia-background">
    <h3 class="athena-title"><i class="far fa-star"></i> Importantes</h3>
    <h6 class="athena-subtitle">@GetCurrentDate()</h6>
    <div class="athena-list">
        <ToDoList OnFinish="HandleFinished" OnImportantize="HandleImportant" OnlyFinished="false" ToDos="ToDos"></ToDoList>
        @if (ToDos.Any(x => x.Finished))
        {
            <a class="btn athena-dia-finished-button btn-sm" href="javascript:;"
               @onclick="@(e => ShowFinished = !ShowFinished)">
                @if (ShowFinished)
                {
                    <i class="fas fa-chevron-down"></i>
                }
                else
                {
                    <i class="fas fa-chevron-right"></i>
                }
                Concluídas
            </a>
            if (ShowFinished)
            {
                <ul class="list-group list-group-flush">
                    @foreach (var toDo in ToDos.Where(x => x.Finished).OrderByDescending(x => x.Important))
                    {
                        <ToDoCard ToDo="toDo" OnFinish="HandleFinished" OnImportantize="HandleImportant"></ToDoCard>
                    }
                </ul>
            }
        }
    </div>
    <div class="athena-workspace">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="athena-add-input input-group-text">
                    <i class="fas fa-plus"></i>
                </span>
            </div>
            <input class="form-control athena-add-input" placeholder="Adicionar uma Tarefa" @bind="CurrentToDo"
                   @bind:event="oninput" @onkeydown="HandleKeyPress"/>
        </div>
    </div>

</div>

<ContextMenu Id="menuToDo">
    <Item><i class="fas fa-unlink"></i>Remover de Meu Dia</Item>
    <Item OnClick="@(e => HandleImportant((e.Data as ToDo)!.Id))">
        <i class="far fa-star"></i> &nbsp; @{
                                        var toDo = (context.Data as ToDo)!;
                                        if (!toDo.Important)
                                        {
                                            <span>Marcar como Importante</span>
                                        }
                                        else
                                        {
                                            <span>Remover importância </span>
                                        }
                                    }
        
    </Item>
    <Item OnClick="@(e => HandleFinished((e.Data as ToDo)!.Id))">
        <i class="far fa-check-circle"></i> &nbsp; @{
                                                var toDo = (context.Data as ToDo)!;
                                                <span>Marcar como @(toDo.Finished? "Pendente" : "Concluída")</span>
                                            } 
                                                        
    </Item>
    <Seperator></Seperator>
    <Item OnClick="@(e => HandleDeadLine((e.Data as ToDo)!.Id, DateTime.Now))">
        <i class="far fa-calendar-check"></i>
        Concluir hoje
    </Item>
    <Item OnClick="@(e => HandleDeadLine((e.Data as ToDo)!.Id, DateTime.Now.AddDays(1)))">
        <i
            class="far fa-calendar-minus">
        </i> Concluir Amanhã
    </Item>
    <Item><i class="far fa-calendar-alt"></i> Escolher uma data</Item>
    <Seperator></Seperator>
    <Item><i class="fas fa-tasks"></i> Mover Tarefa Para...</Item>
    <Item OnClick="@(e => Delete((e.Data as ToDo)!))">
        <div style="color: red"><i class="far fa-trash-alt"></i> Excluir Tarefa</div>
    </Item>
</ContextMenu>

<ContextMenu Id="menuData">

</ContextMenu>

@code {
    IEnumerable<ToDo> ToDos { get; set; } = [];
    bool ShowFinished { get; set; } = true;
    string CurrentToDo { get; set; } = string.Empty;

    static ListType ListType => ListType.All;

    protected override async void OnInitialized()
    {
        await LoadToDos();
    }

    async Task HandleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter") await AddToDo();
    }

    async Task LoadToDos()
    {
        ToDos = [];
        Logger.LogInformation("Searching for ToDos!");
        GetToDosQuery query = new(ListType);

        ToDos = await Sender.Query(query);
        Logger.LogInformation("Todo Search Complete");
    }

    async Task HandleFinished(Guid toDoKey)
    {
        ToggleCompletionCommand cmd = new(toDoKey);
        var result = await Sender.Command(cmd);

        if (result.IsSuccess)
        {
            _ = Js.InvokeVoidAsync("playSound", "\\sounds\\plim.wav");
        }

        await LoadToDos();
    }

    async Task HandleImportant(Guid toDoKey)
    {
        ToggleImportanceCommand cmd = new(toDoKey);
        var result = await Sender.Command(cmd);

        await LoadToDos();
    }

    async Task HandleDeadLine(Guid toDoKey, DateTime deadLine)
    {
        AddDeadLineToToDoCommand cmd = new(toDoKey, deadLine);
        var result = await Sender.Command(cmd);

        await LoadToDos();
    }

    async Task AddToDo()
    {
        AddToDoCommand cmd = new(new(CurrentToDo));

        await Sender.Command(cmd);

        CurrentToDo = string.Empty;

        await LoadToDos();
    }

    async Task Delete(ToDo toDo)
    {
        DeleteToDoCommand cmd = new(toDo);
        await Sender.Command(cmd);

        await LoadToDos();
    }

    static string GetCurrentDate()
    {
        CultureInfo culture = new("pt-BR");
        DateTimeFormatInfo dtfi = culture.DateTimeFormat;

        int day = DateTime.Now.Day;
        int year = DateTime.Now.Year;
        string month = culture.TextInfo.ToTitleCase(dtfi.GetMonthName(DateTime.Now.Month));
        string dayOfWeek = culture.TextInfo.ToTitleCase(dtfi.GetDayName(DateTime.Now.DayOfWeek));
        return dayOfWeek + ", " + day + " de " + month + " de " + year;
    }

}